.carrousel {
  display: flex;
  align-items: center;
  position: relative;
}

.carrousel--picture {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
}
.arrow--back {
  position: absolute;
  left: 0;
}

.arrow--forward {
  position: absolute;
  right: 0;
}
