.dropdown {
  width: 80%;
  margin: 30px auto;
}

.dropdown h2 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 8px 15px;
  margin: 0;
}

.dropdown p {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 30px 20px;
  border-radius: 5px;
  background: #f6f6f6;
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
}
.dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: #ff6060;
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}
.dropdown img {
  padding: 0 30px;
}

.dropdown-Rent {
  display: flex;
}
.dropdown-Rent h2 {
  font-size: 18px;
}

.dropdown-Rent p {
  font-size: 18px;
}
.dropdown box {
  width: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .dropdown {
    width: 100%;
    margin: 5px auto;
  }
  .dropdown-Rent h2 {
    font-size: 13px;
  }
  .dropdown p {
    font-size: 12px;
    font-weight: lighter;
  }
  .dropdown img {
    width: 18px;
    height: 18px;
  }
}
