.footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-top: 100px;
}
.footer img {
  margin-top: 65px;
}
.footer p {
  margin-top: 40px;
  padding-bottom: 32px;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .footer {
    margin-top: 50px;
  }
  .footer p {
    margin-top: 10px;
    font-size: 12px;
    padding-bottom: 32px;
  }
  .footer img {
    margin-top: 40px;
  }
}