@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
}
.header ul {
  list-style: none;
  display: flex;
}
.header li {
  padding-left: 50px;
}
.header a {
  text-decoration: none;
  color: #ff6060;
}