
.rent--info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.rent--info--leftCorner h2 {
  font-size: 36px;
  color: #ff6060;
  font-weight: 500;
  margin: 0;
}

.rent--info--leftCorner p {
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
  margin-top: 5px;
}
.host {
  display: flex;
}
.host img {
  width: 64px;
  height: 64px;
  border-radius: 30px;
  object-fit: cover;
}
.host h2 {
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
  width: 50%;
  text-align: right;
  margin-right: 10px;
}
.tags {
  display: flex;
  padding: 0;
}
.tags li {
  background-color: #ff6060;
  list-style: none;
  border-radius: 10px;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 500;
  color: WHITE;
  margin-right: 10px;
}
