.rent-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
}

.rent-info-leftCorner h2 {
  font-size: 36px;
  color: #ff6060;
  font-weight: 500;
  margin-bottom: 0;
}

.rent-info-leftCorner p {
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
  margin-top: 5px;
}
.host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.host-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.host-details img {
  width: 64px;
  height: 64px;
  border-radius: 35px;
  object-fit: cover;
}
.host h2 {
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
  width: 50%;
  text-align: right;
  margin-right: 10px;
}
.rate {
  display: flex;
}
.star {
  width: 30px;
  height: 30px;
}
.tags {
  display: flex;
  padding: 0;
  margin: 0;
}
.tags li {
  background-color: #ff6060;
  list-style: none;
  border-radius: 10px;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 500;
  color: WHITE;
  margin-right: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .rent-info-leftCorner h2 {
    font-size: 18px;
  }
  .rent-info-leftCorner p {
    font-size: 14px;
    margin-top: 10px;
  }
  .rent-info-rightCorner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .rent-info {
    align-items: baseline;
    flex-direction: column;
  }
  .tags {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .tags li {
    font-size: 10px;
    margin-bottom: 5px;
  }
  
  .host {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: inherit;
    justify-content: space-between;
  }
  .host h2 {
    font-size: 12px;
  }
  .host-details img {
    width: 32px;
    height: 32px;
  }
  .host-details {
    margin-bottom: 0;
  }
  .star {
    height: 15px;
    width: 15px;
  }
} ;
